
{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<h1>Это чатик</h1>

<div class="chat_main">
    <div id="messages" class="messages">

    </div>

    <form id="form_msg", class="form_msg">
        <input name="message" rows="3" class="message"></input>
    </form>
</div>

<script type="text/javascript">
    let url = `wss://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)
    const username = "{{ username }}"

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data)
        console.log('Data: ', data)

        if (data.type === 'chat') {
            let messages = document.getElementById('messages')

            messages.insertAdjacentHTML('beforeend', `<p class="msg"><strong>${data.user}: </strong>${data.message}</p>`)
            messages.scrollTop = messages.scrollHeight;
        }
    }

    let form = document.getElementById('form_msg')
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })
</script>
{% endblock %}