{% extends 'main/layout.html' %}

{% block title %}
    Информация
{% endblock %}

{% block content %}
    <h1> Информационная страница </h1>
    <p>
        Я разработал это приложение в рамках изучения Django.
    </p><p>
        Далее можно увидеть такие разделы как "Обновления", где я иногда отображаю
        глобальные обновления приложения.
    </p><p>
        В разделе "Сообщения" можно увидеть реализацию чата с использованием WebSocket,
        но на хостинге нельзя наблюдать полную функциональность по причине запрета на использование WebSocket
        без аренды VPS.
    </p><p>
        В разделе "Игра" можно увидеть реализацию простой игры. Данный раздел еще находится в разработке и
        не будет работать на хостинге по причине описанной выше.
    </p><p>
        Раздел "Райоты" пока в разработке. Там я использую Riot API для отображения некоторой личной статистики.
    </p>
{% endblock %}