body {
    background: cyan;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

wrapper {
    display: flex;
    align-items: flex-start;
}

aside {
    float: left;
    width: 250px;
    padding: 2.5%;
    height: 100vh;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    height: 80px;
    float: left;
}

main {
    width: 60%;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    word-wrap: break-word;
    }

main .features h1{
    font-size: 35px;
}

form {
    margin-left: 25px;
    width: 450px;
    margin-top: 50px;
}
.list-pages {
  text-align: center;
}

.list-pages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-pages li {
  display: inline-block;
}

.page-num a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #333;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.page-num a:hover {
  background-color: #ddd;
}