:root {
  --white-text: #FFFFFF;
  --dividing-section: #333;
}


body {
    overflow-y: hidden;
    background: #424242;
    color: var(--white-text);
}

header {
  background-color: var(--dividing-section);
  color: var(--white-text);
  padding: 10px 20px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

aside {
    float: left;
    width: 250px;
    padding: 2.5%;
    height: 100vh;
    border-right: 5px solid var(--dividing-section);
}

aside img {
    width: 80px;
    height: 80px;
    float: left;
}


main {
    width: 60%;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    word-wrap: break-word;
    }

main .features h1{
    font-size: 35px;
}

form {
    margin-left: 25px;
    width: 450px;
    margin-top: 50px;
}

