{% extends 'main/layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <div class="features">
        <h1> {{ title }} </h1>
        {% if object_list %}
            {% for elem in notes %}
                <div class="alert alert-warning">
                    <p style="margin-right: auto;"> Дата: {{elem.date}}</p>
                    <h3> {{ elem.title }} </h3>
                    <p> {{ elem.anons }} </p>
                    <a href="{{ elem.get_absolute_url }}"><button class="btn btn-info"> Подробнее </button></a>
                </div>
            {% endfor %}
        {% else %}
            <p> Обновлений нет! </p>
        {% endif %}
        <nav class="list-pages">
            <ul>
                {% if request.user.is_authenticated %}
                    {% if request.user.username == "vortex" %} 
                        <li class="page-num"><a href="{% url 'create_note' %}"><i class="fa-solid fa-file-circle-plus" style="color: #05e0f0;"></i></a></li>
                    {% endif %}
                {% endif %}
                
                {% for page in paginator.page_range %}
                    <li class="page-num">
                        <a href="?page={{ page }}"> {{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

    </div>
{% endblock %}